<div class='row'>
  <div class="col1">
    <div class="col1inset">
      <h2>Info &amp; Science</h2>
      <hr>
      <h3>Fueling can be a scary and confusing part of your Ironman trianing. If you don't plan your fuel correctly, you might end up bonking when you run out of available calories. FUEL MAPPER is here to help.</h3>
      <h3><strong>FUEL MAPPER uses your projected race data to determine the ideal calorie intake during your Ironman so you don't have to worry about bonking.</strong></h3>
      <h3>Check out the science behind fueling <a href="http://home.trainingpeaks.com/blog/article/race-fueling-how-many-calories-should-i-eat">here</a>.</h3>
      <button><a href="/app">Map my Fuel</a></button>
    </div>
  </div>
</div>
