  <div class="hero">
    <div class="leftside">
      <h1 class="title">FUELMAPPER</h1>
      <button class="home">What is it?</button><br>
      <button class="explore">Explore the science</button>
    </div>
    <div class="rightside1">
      <h2 id="first">Fuel your Ironman</h2>
      <div class="horizontal"></div>
      <p>Do you get frustrated trying to make a fueling plan for your Ironman?</p>
      <p>Fuelmapper uses your personal data to find your ideal calorie intake for the greatest long-distance triathlon of our time.</p>
      <p>Simply enter your paces, heart rate, weight, and age, and Fuelmapper will calculate the amount of fuel you need per hour to avoid running out of energy.</p>
      <button class="start">Get Started</button>
    </div>
    <div class="rightside2">
      <h2 id="carbs">What are carbohydrate calories?</h2>
      <div class="horizontal"></div>
      <p>During an endurance race, you burn calories from two main sources: stores of carbohydrates and stores of fat. Roughly half of the calories you use come from each source (this is HIGHLY dependent on metabolic efficiency, intensity, body mass and other variables).</p>
      <p>Carbohydrate calories can be replaced during activity, which means these are the calories we are focused on for a fueling plan.</p>
      <p>Of course, this model is an estimate and should be tested many months before race time. Assumptions in this model include:</p>
      <ul>
        <li>You burn half carbohydrate calories and half fat calories.</li>
        <li>Your calorie burn rates are estimated using pace, weight, heart rate, and age.</li>
        <li>You absorb all calories you take in and they are available for use within 20 minutes</li>
      </ul>
      <p>Read more about the science <a href="http://home.trainingpeaks.com/blog/article/race-fueling-how-many-calories-should-i-eat">here.</a></p>
      <button class="start">Get Started</button>
    </div>
  </div>
