html, body {
    height: 100%;
    margin: 0;
}
body{
  background-color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #333;
}

.hero{
  background-image: url(../images/runner.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 50px 0px 50px 0px;
  height: 500px;
  width: 70%;
  margin-left:15%;
  margin-right: 15%;
  background-color: white;
  box-shadow: 5px 5px 80px rgb(190, 190, 190);
  display: flex;
}
h1{
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  color: #4489d9;
}
h2{
  margin-top: 33.5px;
  margin-bottom: 5px;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  color: #4489d9;
}
button{
  width: 140px;
  height: 45px;
  border: none;
  padding: 0px;
  font-family: "Lato";
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid #4489d9;
  color: #4489d9;
  background-color: white;
  margin-top: 10px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.start{
  background-color: #ee596b;
  color: white;
  border: none;
  margin-bottom: 20px;
}
.leftside{
  flex: 0 0 22%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.rightside1, .rightside2{
  flex: 0 0 38%;
  border-left: 1px solid rgb(147, 147, 147);
  margin-right: 40%;
  padding-left: 4%;
}
.rightside2{
  display: none;
}
p{
  font-size: 12px;
}
.horizontal{
  width: 10vw;
  border-bottom: 2px solid #ee596b;
}
li{
  font-size: 12px;
  list-style: square;
}
a{
  text-decoration: none;
  font-weight: 400;
}
footer{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #4489d9;
  color: white;
  position:fixed;
  left:0px;
  bottom:0px;
  height:25px;
  width:100%;
}
footer > p{
  display: inline;
  margin: 15px;
}
#left {
    width: 10%;
    height: 100%;
    position: fixed;
    background: #4489d9;
}
#right {
    width: 90%;
    height: auto;
    position: absolute;
    right: 0;
}
.navtitle{
  margin: 0px;
  text-align: center;
  color: white;
}
h1.navtitle{
  font-size: 70px;
}
h2.navtitle{
  font-size: 40px;
  margin-bottom: 40px;
}
nav > a{
  margin-left: 20%;
  text-transform: uppercase;
  margin-bottom: 20px;
  display:inline-block;
}

a{
  font-size: 12px;
  font-weight: 300;
  color: white;
}
@media only screen and (min-width: 650px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
  .hero{
    height: 100%;
    background-image: url();
  }
  .rightside1, .rightside2{
    flex: 0 0 56%;
    margin-right: 30%;
  }
  .leftside{
    flex: 0 0 38%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1){
  .hero{
    background-image: url();
    display: block;
    height: 100%;
  }
  .rightside1, .rightside2, .leftside{
    width: 90%;
    border-left: none;
  }
  .leftside{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0px;
  }
  .footer{
    display:block;
  }
}
